# the dir in which all external memory maps will go
parentdir=tmp/artifactsmap

# properties for persistent artifacts map
#persistentsubdir=persistent
persistentdbname=persistentArtifacts
persistentcachesize=100000
persistentbffpp=0.00001
persistentbfexpectedelements=1000000
#set reporting interval seconds to 0 to not report anything
persistentreportinginterval=120
persistentdbstoreclassname=BerkeleyDB

# properties for transient artifacts map
#transientsubdirprefix=transient_
transientdbnameprefix=transientArtifacts_
transientcachesize=100
transientbffpp=0.00001
transientbfexpectedelements=1000000
#set reporting interval seconds to 0 to not report anything
transientreportinginterval=120
transientdbstoreclassname=BerkeleyDB
